body {
    background-color: slateblue;
}
header {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    color: white;
    text-align: center;
    margin-left: 30px;
    margin-right: 30px;
}
.button {
    border: none;
    background-color: #ff552f;
    border-radius: 20px;
    color: white;
    font-size: 25px;
    line-height: 20px;
    margin: 18px;
    padding: 14px 34px;
    cursor: pointer;
}

.buttonDiv {
    position: relative;
    text-align: center;
}
.hide {
    display: none;
}

#questionsDiv {
    padding-top: 20px;
    display:flexbox;
    overflow: hidden;
}
#questions {
    font-size: 30px;
    text-align: center;
    color: white;
    border: none;
    background-color: #1a3d00;
    border-radius: 20px;
    line-height: 20px;
    margin: auto;
    padding: 25px 0 25px 0;
    cursor: pointer;
}
#answers {
    font-size: 18px;
    text-align: center;
    padding-top: 45px;
    color: white;
    
}
#scoreCount {
    padding-top: 5px;
}
#backBtn {
    border: none;
    background-color: #ff552f;
    border-radius: 20px;
    color: white;
    font-size: 25px;
    line-height: 20px;
    margin: 18px;
    padding: 14px 34px;
    cursor: pointer;
}
#backBtnDiv {
    text-align: center;
    padding-top: 300px;
}
#backBtn a {
    text-decoration: none;
    color: white;
}
#highScoreBtnDiv {
    text-align: center;
    padding-top: 20px;
}
#highScoreBtn {
    border: none;
    background-color: #ff552f;
    border-radius: 20px;
    color: white;
    font-size: 25px;
    line-height: 20px;
    margin: 18px;
    padding: 14px 34px;
    cursor: pointer;
}